 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=EB+Garamond:ital,wght@0,600;1,400;1,600;1,700&family=Mulish:wght@500&family=Nunito+Sans:wght@500&family=Poppins:wght@300;500&family=Source+Sans+Pro:wght@400;600&display=swap');


 * {
   margin: 0;
   padding: 0;
 }

 .header1 {
   text-align: center;
   padding-top: 90px;

   font-size: 35px;
   font-family: 'EB Garamond', serif;
 }

 .allTables {
   margin: 0px 50px 0px 50px;

 }

 #jasonLinks {
   color: rgb(69, 67, 67);
 }

 #jasonLinks:hover {
   color: grey;
 }

 h4 {
   font-weight: 800;
   text-align: center;
   font-family: serif;
 }

 .backGround {
   background-image: url('https://images.pexels.com/photos/4022139/pexels-photo-4022139.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
   background-size: auto;
 }

 .table {
   color: rgb(0, 0, 0);
   font-family: serif;
 }


 a {
   color: black;

 }

 a:hover {
   color: grey;
 }

 #pb {
   margin-bottom: 20px;
   margin-top: 10px;
 }

 #ob {
   margin-bottom: 20px;
   margin-top: 10px;
 }


.container-fluid{
 font-family: serif;
  font-size: 19px;
}


 #editMode {
   size: 10px;
 }

 .footer {
   position:sticky, absolute;
   left: 0;
height: 50%;
   width: 100%;
   background-color: #f8f9fa;
   color: black;
   text-align: center;
   padding-top: 10px;
     font-family: 'Dancing Script', cursive;
     height: max-content;
     margin-top: 18px;
   padding-bottom: 10px;
}

#statistics{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 10px;
  padding: 60px 40px 10px 40px;
}

#header4{
  font-size: 20px;
}
p {
    margin-top: 0;
  margin-bottom: 0rem;
}