@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=EB+Garamond:ital,wght@0,600;1,400;1,600;1,700&family=Mulish:wght@500&family=Nunito+Sans:wght@500&family=Poppins:wght@300;500&family=Source+Sans+Pro:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}
.whole{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form{
  z-index: 1;
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 320px;
  text-align: center;
  margin-bottom: 93px;
 
 
}

.form i{
  z-index: 1;
  color: #ffffff;
  font-size: 65px;
  margin-bottom: 25px;
}

.form .signup-form{
  display: none;
}


.form .user-input{
  width: 320px;
  height: 55px;
  margin-bottom: 13px;
  outline: none;
  border: none;
  background: white;
  color:black;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

.form .user-input:hover, .form .user-input:focus, .form .user-input:active{
    border-left: solid 8px rgb(219, 144, 78);
  border-right: solid 8px rgb(219, 144, 78); 
  
}

.form .options-01 a{
  color: bl;
  font-size: 14px;
  font-style: italic;
  float: right;
}

button{
  outline: none;
  border: none;
  width: 320px;
  height: 55px;
  color: rgba(1, 1, 1, 0.5);
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
  padding: 10px 10px;
  background: white;
 margin-top: 17px;
}

.form button:hover{
  border-left: solid 8px rgb(219, 144, 78);
  border-right: solid 8px rgb(219, 144, 78); 
}

/* Responsive CSS */

@media screen and (max-width: 500px){
  .form{
    width: 95%;
  }

  .form .user-input{
    width: 100%
  }

  .form .btn{
    width: 100%;
  }
}

.background-fluid {
background: url("https://images.pexels.com/photos/1028599/pexels-photo-1028599.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  flex-direction: column;

  background-repeat: no-repeat;
}

a:link, a:visited {
  background-color: rgb(239, 183, 133);
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 9px;
  font-weight: 500;
    transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}



a:hover{
    border-left: solid 8px rgb(219, 144, 78);
  border-right: solid 8px rgb(219, 144, 78);
}

a{
  color: black;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(219, 144, 78);
   color: white;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 12px;
     font-family: 'Dancing Script', cursive;
   
}

p{
   font-weight: 600;
   font-size: 24px;
  
 
}